@use "./../utils/" as u;

.breadcrumb {
  padding-top: 95px;
  padding-bottom: 50px;

  &__title {
    margin-bottom: 6px;
    font-size: 44px;
    line-height: 1;
    font-weight: 500;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) span {
      position: relative;
      margin-right: 10px;
      padding-right: 10px;

      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        translate: -50% -50%;

        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: u.$placeholder-1;
        border-radius: 50%;
      }
    }

    & > span {
      font-size: 16px;
      font-weight: 400;

      & a {
        @include u.mix-hover {
          color: u.$primary;
        }
      }
    }
  }
}
