@use '../utils/' as u;

.button {
    padding-inline: 9px;
    padding-block: 26px;
    display: inline-block;
    background-color: var(--color-common-black);
    color: var(--color-common-white);
    font-size: 15px;
    border: 1px solid var(--color-common-black); 
}