@use '../utils/' as u;

.input {
    padding-left: 26px;
    padding-right: 26px;
    height: 56px;
    width: 100%;
    outline: none;
    background-color: var(--color-common-white);
    border: 1px solid var(--color-border-input);
    color: var(--color-common-black);
    font-size: 14px;

    &::placeholder {
        color: var(--color-placeholder-1);
    }

    &:focus {
        border-color: var(--color-common-black);
        &::placeholder {
            opacity: 0;
        }
    }
}