@use '../utils/' as u;

.search {
    position: relative;

    &__input {
        height: 46px;
        background-color: var(--color-bg-input);
        padding-left: 24px;
        padding-right: 50px;
    }

    &__button {
        position: absolute;
        right: 30px;
        top: 50%;
        translate: 0 -50%;
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: var(--color-common-black);
        border: none;
        cursor: pointer;

        @include u.mix-hover {
            color: u.$primary;
        }
    }
}