@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/maps";

@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "../../public/assets/scss/main.scss";
