@use "../../utils/" as u;

.blog-item {
  margin-bottom: 40px;

  &__header {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 400;
    line-height: 1.4;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__tags {
    display: flex;
    align-items: center;
    column-gap: 8px;
    & a {
      @include u.mix-flex-center();
      border: var(--border);
      padding: 4px;
      border-radius: 5px;
      background-color: var(--color-bg-tags);
      color: var(--color-common-white);
    }
  }
}
