@use "../../utils/" as u;

.menus {
  &__list {
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    margin-right: 20px;
    display: inline-block;
  }

  &__has-bigmenu {
    position: static;
  }

  &__title {
    font-size: 16px;
    color: var(--color-common-black);
    padding: 27px 0;

    @include u.mix-hover {
      color: u.$primary;
    }
  }

  :where(&__has-dropdown) &__title {
    &::after {
      content: "\25BC";
      position: relative;
      font-size: 8px;
      margin-left: 5px;
      top: 4px;

      @include u.mix-hover {
        color: u.$primary;
      }
    }
  }

  &__submenu {
    padding: 12px 25px 20px;
    position: absolute;
    left: 0;
    top: 120%;
    min-width: 160px;
    background-color: var(--color-common-white);
    z-index: 99;
    box-shadow: 0px 30px 65px rgba($color: u.$black, $alpha: 0.2);

    @include u.mix-transition();

    visibility: hidden;
    opacity: 0;

    & > li {
      display: block;
      margin: 0;
      width: 100%;
      padding-inline: 20px;
      padding-block: 5px;

      @include u.mix-transition(background);
      @include u.mix-hover {
        background-color: u.$primary;
        color: var(--color-common-white);
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__bigmenu {
    padding: 20px 20px 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 20px 30px rgba($color: u.$black, $alpha: 0.2);
    z-index: 9;
  }

  &__has-dropdown {
    @include u.mix-hover {
      & > .menus__submenu {
        visibility: visible;
        opacity: 1;
        top: 100%;
      }
    }
  }
}
