$black: #010f1c;
$black-solid: #000000;

$white: #ffffff;

$primary: #d79317;

$heading-primary: #01101e;
$heading-secondary: #021e36;

$blue: #0a89ff;

$text-body-1: #57595c;
$text-body-2: #777b7e;

$bg-input: #f8f8f8;
$bg-footer: #f4f7f9;

$border-standart: #010f1c1a;
$border-input: #e0e2e3;

$placeholder-1: #95999d;

$colors: (
  "common": (
    "white": $white,
    "black": $black,
    "black-solid": $black-solid,
  ),
  "heading": (
    "primary": $heading-primary,
    "secondary": $heading-secondary,
  ),
  "text": (
    "body": $text-body-1,
    "1": $text-body-2,
  ),
  "blue": (
    "1": $blue,
  ),
  "bg": (
    "input": $bg-input,
    "footer": $bg-footer,
    "tags": $primary,
  ),
  "border": (
    "standart": $border-standart,
    "input": $border-input,
  ),
  "placeholder": (
    "1": $placeholder-1,
  ),
);
