@use "../../utils/" as u;

.login {
  padding-bottom: 140px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  &__shapes {
    &-1,
    &-2,
    &-3 {
      display: none;
      filter: drop-shadow(0px 7px 7px u.$primary);

      @include u.bp-up(lg) {
        display: block;
        position: absolute;
      }

      @include u.bp-up(xxl) {
        display: none;
      }
    }

    &-1 {
      @include u.bp-only(lg) {
        rotate: 10deg;
        width: 12%;
        top: 5%;
        left: 17%;
        z-index: 1;
      }

      @include u.bp-only(xl) {
        rotate: 15deg;
        width: 15%;
        top: 5%;
        left: 19%;
        z-index: 1;
      }
    }

    &-2 {
      @include u.bp-only(lg) {
        rotate: -32deg;
        width: 11%;
        top: 30%;
        right: 14%;
        z-index: 1;
      }

      @include u.bp-only(xl) {
        rotate: -32deg;
        width: 15%;
        top: 30%;
        right: 17%;
        z-index: -1;
      }
    }

    &-3 {
      @include u.bp-only(lg) {
        rotate: -32deg;
        width: 11%;
        bottom: 7%;
        right: 53%;
        z-index: 1;
      }

      @include u.bp-only(xl) {
        rotate: -32deg;
        width: 8%;
        bottom: 9%;
        right: 55%;
        z-index: 1;
      }
    }
  }

  &__wrapper {
    padding: 50px 60px 70px;
    background-color: u.$white;
    box-shadow: 0px 30px 70px rgba($color: u.$black, $alpha: 0.3);
  }

  &__header {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__description span {
    & > a {
      display: inline-block;
      color: u.$blue;
    }
  }

  &__email {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    z-index: 1;

    & > p {
      display: inline-block;
      padding-inline: 20px;
      position: relative;
      font-size: 15px;
      background-color: u.$white;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 9px;
      width: 100%;
      height: 1px;
      background-color: rgba($color: u.$black, $alpha: 0.3);
      z-index: -1;
    }
  }

  /*  styles for login(register) form */

  &__form {
    &-input-box-wrapper {
      margin-bottom: 14px;
    }

    &-input-box {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 34px;
      }
    }

    &-title {
      position: absolute;
      top: -7px;
      left: 20px;
      font-size: 14px;
      padding: 0 6px;
      color: u.$black;
      background-color: u.$white;
      line-height: 1.2;
    }

    &-eye {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      right: 30px;
    }

    &-open-eye {
      @include u.mix-transition();
      @include u.mix-hover {
        cursor: pointer;
        & svg {
          color: u.$black;
        }
      }
    }

    &-remember {
      $self: &;

      margin-bottom: 20px;

      & > label {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }

      &-title {
        color: u.$text-body-2;
        & > a {
          color: u.$blue;
        }
      }

      &-emulator {
        @include u.mix-square(20px);

        position: relative;
        display: inline-block;
        border: 1px solid u.$border-input;
        z-index: 1;
        font-size: 15px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;

          #{$self}-checkbox:checked + & {
            background-color: u.$primary;
            border-color: u.$primary;
          }
        }

        &::after {
          content: url("../../../../../src/images/common-icons/check.svg");
          position: absolute;
          left: 0px;
          top: 0px;
          width: 20px;
          height: 20px;
          text-align: center;
          visibility: hidden;
          opacity: 0;

          @include u.mix-transition();

          #{$self}-checkbox:checked + & {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  &__button {
    width: 100%;
    padding-inline: 30px;
    padding-block: 14px;
    background-color: u.$black;
    color: u.$white;
    font-size: 16px;
    font-weight: 500;
    border: none;

    @include u.mix-hover {
      background-color: u.$primary;
    }

    &:disabled {
      background-color: grey;
      cursor: not-allowed;
    }
  }
}
