@use "../../utils/" as u;

.login {
  padding-bottom: 140px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  &__header {
    margin-bottom: 40px;
    text-align: center;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__description span {
    & > a {
      display: inline-block;
      color: u.$blue;
    }
  }

  &__email {
    position: relative;
    margin-bottom: 40px;
    text-align: center;

    & > p {
      display: inline-block;
      padding-inline: 20px;
      position: relative;
      font-size: 15px;
      background-color: u.$white;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 9px;
      width: 100%;
      height: 1px;
      background-color: rgba($color: u.$black, $alpha: 0.3);
      z-index: -1;
    }
  }
}
