@use "../utils/" as u;


body {
  overflow-x: hidden;
  font-family: var(--font-family-base), sans-serif;

  @include u.mix-fluid-text(18, 16);

  line-height: 1.3;
  color: var(--color-text-body);
  font-weight: 400;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

input,
textarea,
button,
a,
svg * {
  @include u.mix-transition();
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
  @include u.mix-hover {
    color: u.$primary;
  }
  @include u.mix-transition(color);

  color: var(--color-heading-primary);
  font-weight: 500;
}

h1, .h1 {
  @include u.mix-fluid-text(60, 43);
}

h2, .h2 {
  @include u.mix-fluid-text(40, 36);
}

h3, .h3 {
  @include u.mix-fluid-text(30, 26);
}

h4, .h4 {
  @include u.mix-fluid-text(20, 18);
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
}


textarea {
  padding-inline: 26px;
  width: 100%;
  height: 56px;
  outline: none;
  font-size: 14px;
  background-color: var(--color-common-white);
  color: var(--color-common-black);
  border: 1px solid var(--color-border-input);

  &::placeholder {
    color: var(--color-placeholder-1);
  }

  &:focus {
    border-color: var(--color-common-black);
    &::placeholder {
      opacity: 0;
    }
  }
}

